h1,
h2,
h3 {
  margin-top: 0;
  font-weight: 700;
  color: #2F3035;
}

p {
  margin-top: 0;
  font-weight: 400;
  color: rgba(47, 48, 53, 0.7);
}

a {
  color: #2F3035;
}

html {
  box-sizing: border-box;
  font-size: calc(10px + 0.4vw);
  scroll-behavior: smooth;
}

@media (max-width: 500px) {
  html {
    font-size: calc(15px + 0.4vw);
  }
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  height: 2000px;
  background-color: #fdfdfd;
  font-family: "Roboto", sans-serif;
}

ul li {
  list-style: none;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

a {
  color: inherit;
}

.container-1 {
  width: 80%;
  max-width: 1171px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .container-1 {
    width: 85%;
  }
}
@media (max-width: 500px) {
  .container-1 {
    width: 95%;
  }
}

header {
  position: relative;
  padding-top: 30px;
}
header #check-bar {
  display: none;
}
header .nav-bar {
  font-size: 2rem;
  display: none;
}
header .nav-bar label {
  transition: 0.2s;
}
header .nav-bar label:hover {
  cursor: pointer;
  transform: rotate(90deg);
}
header .nav-bar label:active {
  cursor: move;
  transform: rotate(360deg);
}
header .min-nav {
  position: fixed;
  top: 0;
  left: 1%;
  z-index: 999;
  overflow-y: scroll;
  transition: 0.2s;
  transform: translateX(-140%);
  width: 65%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  box-shadow: 7px 7px 15px 0 rgba(0, 0, 0, 0.075);
}
header .min-nav > label {
  position: fixed;
  font-size: 1.5rem;
  right: 3%;
  top: 1%;
  transition: 0.2s;
}
header .min-nav > label:hover {
  color: #ff0000;
  cursor: pointer;
}
header .min-nav > label:active {
  transform: rotate(-180deg);
}
header .min-nav__item {
  padding-top: 5%;
  padding-left: 20%;
  border-bottom: 1px solid #F0F0F4;
  font-size: 1.1rem;
  transition: 0.3s;
}
header .min-nav__item:hover, header .min-nav__item:active {
  font-weight: 500;
  color: #000;
  border-bottom: 1px solid gray;
}
header .min-nav > p {
  padding: 5% 0;
  margin-left: 20%;
  font-weight: 700;
  font-size: 1.2rem;
  color: #2F3035;
}
header .min-nav__item:first-child {
  padding-left: calc(20% - 50px);
  padding-top: calc(5% - 7px);
}
header .min-nav__item:first-child::before {
  content: "";
  margin-right: 20px;
  width: 25px;
  height: 25px;
  display: inline-block;
  background: url(/images/icons/man-icon.svg) no-repeat left center;
}
header .min-nav__item:nth-child(2) {
  padding-left: calc(20% - 50px);
  padding-top: calc(5% - 7px);
}
header .min-nav__item:nth-child(2)::before {
  content: "";
  margin-right: 20px;
  width: 25px;
  height: 25px;
  display: inline-block;
  background: url(/images/icons/man-icon.svg) no-repeat left;
}
header .min-nav__item:nth-child(3) {
  padding-left: calc(20% - 50px);
  padding-top: calc(5% - 7px);
}
header .min-nav__item:nth-child(3)::before {
  content: "";
  margin-right: 20px;
  width: 25px;
  height: 25px;
  display: inline-block;
  background: url(/images/icons/heart-icon.svg) no-repeat left;
}
header .min-nav__item:nth-child(4) {
  padding-left: calc(20% - 55px);
  padding-top: calc(5% - 12px);
}
header .min-nav__item:nth-child(4)::before {
  content: "";
  margin-right: 20px;
  width: 30px;
  height: 30px;
  display: inline-block;
  background: url(/images/icons/shop-icon.svg) no-repeat left;
}
header .min-nav__item:nth-child(5) {
  padding-left: calc(20% - 45px);
  padding-top: calc(5% - 2px);
}
header .min-nav__item:nth-child(5)::before {
  content: "";
  margin-right: 20px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url(/images/icons/home-icon.png) no-repeat left;
}
header .min-nav__item:nth-child(6) {
  padding-left: calc(20% - 45px);
  padding-top: calc(5% - 2px);
}
header .min-nav__item:nth-child(6)::before {
  content: "";
  margin-right: 20px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url(/images/icons/pr-icon.svg) no-repeat left;
}
header .min-nav__item:nth-child(7) {
  padding-left: calc(20% - 41.5px);
  padding-top: calc(5% - 0px);
}
header .min-nav__item:nth-child(7)::before {
  content: "";
  margin-right: 20px;
  width: 18px;
  height: 18px;
  display: inline-block;
  background: url(/images/icons/mark-icon.svg) no-repeat left;
}
header .close-check {
  top: 0;
  z-index: 998;
  position: fixed;
  transform: translateX(-150%);
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
}
@media (max-width: 1024px) {
  header {
    padding-top: 65px;
  }
  header #check-bar:checked + .min-nav {
    transform: translateX(0);
  }
  header #check-bar:checked ~ .close-check {
    transform: translateX(0);
  }
}

.header-top {
  max-width: 1171px;
  padding-top: 2%;
  padding-bottom: 20px;
  max-height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top__left {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.header-top__left_link {
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
}
.header-top__logo img {
  display: block;
  width: 80px;
  height: 76px;
}
.header-top__right {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.header-top__right_location {
  font-weight: 700;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.header-top__right_icons {
  display: flex;
  align-items: center;
}
.header-top__right_icons a {
  width: 30;
  height: 1.4rem;
}
.header-top__right_icons a:hover, .header-top__right_icons a:active {
  opacity: 0.7;
}
.header-top__right_icons a:not(a:first-child) {
  margin-left: 10px;
}
@media (max-width: 1024px) {
  .header-top {
    padding-top: 3%;
    top: 0%;
    position: fixed;
    background-color: #fff;
    z-index: 996;
    width: 85%;
    justify-content: space-between;
    justify-content: space-between;
  }
  .header-top__left {
    display: none;
  }
  .header-top__logo {
    display: none;
  }
  .header-top__right {
    width: auto;
  }
  .header-top__right_location {
    display: none;
  }
  .header-top__right_icons {
    justify-content: space-between;
  }
  .header-top .nav-bar {
    display: block;
  }
}
@media (max-width: 500px) {
  .header-top {
    width: 95%;
  }
}

.catalog-menu {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.5vh;
  background-color: #F0F0F4;
}
.catalog-menu__item {
  padding: 1.6vh 0;
  width: 20%;
  text-align: center;
  width: 100%;
  max-width: 1171px;
  font-weight: 400;
  font-size: 1.1rem;
  text-transform: capitalize;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-out;
}
.catalog-menu__item:hover {
  font-weight: 500;
  border-bottom: 2px solid #1C62CD;
}
@media (max-width: 1024px) {
  .catalog-menu {
    margin-top: -10px;
    overflow-y: hidden;
    column-gap: 20px;
  }
}

.search__menu {
  margin-bottom: 37px;
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.search__menu_link {
  padding: 12px 26px;
  font-weight: 400;
  font-size: 0.9rem;
  text-align: center;
  color: #2F3035;
  border-radius: 5px;
}
.search__menu_link > a {
  color: #2F3035 !important;
}
.search__menu_link:hover, .search__menu_link:active {
  font-weight: 500;
  background-color: #F0F0F4;
}
.search__menu_link-active {
  font-weight: 500;
  background-color: #F0F0F4;
}
.search__form {
  display: flex;
  justify-content: space-between;
}
.search__form_input {
  border: none;
  width: 80%;
  padding: 15px 5% 15px 20px;
  background-color: #F0F0F4;
  color: #2F3035;
}
.search__form_input ::placeholder {
  color: rgba(47, 48, 53, 0.5);
  font-size: 0.8rem;
}
.search__form_input:active, .search__form_input:hover, .search__form_input:focus {
  outline: none;
}
.search__form_btn {
  border: none;
  width: 20%;
  padding: 15px 40px;
  background-color: #1C62CD;
  font-size: 1rem;
  border-radius: 3px;
  color: #fff;
  transition: 0.2s;
}
.search__form_btn:hover {
  background-color: #024cbc;
}
.search__form_btn:active {
  opacity: 0.8;
}
.search__catalog {
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  justify-content: space-between;
}
.search__catalog_item {
  width: 32%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px 37px 10px 20px;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
}
.search__catalog_item > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
}
.search__catalog_item > div:first-child h4 {
  font-weight: 500;
  font-size: 1.1rem;
  color: #2F3035;
}
.search__catalog_item > div:first-child a {
  font-size: 0.6rem;
}
.search__catalog_item > div:first-child a:hover {
  color: rgba(47, 48, 53, 0.5) !important;
}
.search__catalog_item > div:first-child a img {
  margin-left: 5px;
}

.intro {
  padding-top: 81px;
  padding-bottom: 77px;
}
.intro .intro-box {
  display: flex;
  justify-content: space-between;
}
.intro__banner {
  width: 73%;
}
.intro__adds {
  width: 25%;
  position: relative;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  height: 100%;
  max-height: 396px;
}
.intro__adds_item {
  position: relative;
  transform: translateY(18%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro__adds_item img {
  display: block;
  width: 40%;
  height: 40%;
}
.intro__adds_item > figcaption {
  font-weight: 700;
  padding: 0 15%;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 5%;
}
.intro__adds_sale-mark {
  position: absolute;
  top: 0;
  color: #fff;
  padding: 8px 20px;
  background-color: #1C62CD;
  font-size: 1rem;
  font-weight: 500;
  z-index: 22;
}
.intro__adds_sale-text {
  position: absolute;
  right: 1%;
  top: 2%;
}
.intro__adds_sale-text p {
  font-size: 1.5rem;
  color: #1C62CD;
}
.intro__adds_sale-text > span {
  z-index: 22;
  position: absolute;
  right: 1%;
  top: 60%;
  text-decoration: line-through;
  text-align: left;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.603);
}
.intro__adds_sub-box {
  margin-top: 10%;
  padding: 13% 5%;
  background-color: #F0F0F4;
}
.intro__adds_sub-box p {
  margin-bottom: 0;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-size: 1rem;
}
.intro__adds_sub-box > p:nth-child(2) {
  text-align: center;
  color: #1C62CD;
  font-size: 1.1rem;
}
@media (max-width: 1024px) {
  .intro .intro-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }
  .intro__banner {
    width: 100%;
  }
  .intro__adds {
    width: 40%;
  }
}
@media (max-width: 500px) {
  .intro {
    padding-top: 30px;
    padding-bottom: 25px;
  }
  .intro__adds {
    max-height: 596px;
    width: 90%;
  }
}

/*# sourceMappingURL=main.css.map */
