@use "../globals/colors" as *;
.search {
  &__menu {
    margin-bottom: 37px;
    display: flex;
    width: 60%;
    justify-content:space-between;
    &_link {
      padding:12px 26px;
      font-weight: 400;
      font-size: .9rem;
      text-align: center;
      color:$text-color;
      border-radius: 5px;
      &>a {
        color:$text-color!important;
      }
      &:hover,
      &:active {
        font-weight: 500;
        background-color: $bg-color;
      }
    }
    &_link-active {
        font-weight: 500;
        background-color: $bg-color;
    }
  }
  &__form {
    display: flex;
    justify-content:space-between;
    &_input {
      border: none;
      width: 80%;
      padding:15px 5% 15px 20px;
      background-color: $bg-color;
      color: $text-color;
      ::placeholder {
        color: rgba($text-color, .5);
        font-size: .8rem;
      }
      &:active,
      &:hover,
      &:focus {
        outline: none;
      }
    }
    &_btn {
      border: none;
      width: 20%;
      padding: 15px 40px;
      background-color: $primary-color;
      font-size: 1rem;
      border-radius: 3px;
      color: #fff;
      transition: .2s;
      &:hover {
        background-color: #024cbc;
      }
      &:active {
        opacity: .8;
      }
    }
  }
  &__catalog {
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content:space-between;
    &_item {
      width: 32%;
      display: flex;
      justify-content:space-between;
      background-color: #fff;
      padding: 20px 37px 10px 20px;
      border: 1px solid #CDCDCD;
      border-radius: 3px;
      &>div:first-child {
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        padding-bottom: 10px;
        h4 {
          font-weight: 500;
          font-size: 1.1rem;
          color:$text-color;
        }
        a {
          color:rgba($text-color, .5)!important;
          font-size: .8rem;
          &:hover {
            color: #5e5e5e!important;
          }
          img {
            margin-left: 5px;
          }
        }
      }
    }
  }
  @media (max-width:1024px) {
    &__menu {
      width: 90%;
    }
    &__form {
      width: 90%;
      margin: 0 auto;
      &_input {
        width: 100%;
        background:$bg-color url(/images/icons/search-icon.png) no-repeat 95%;
        ::placeholder {
          padding-right: 30px;
        }
      }
      &_btn {
        display: none;
      }
    }
    &__catalog {
      &_item {
        width: 45%;
        &>div {
          &>img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  @media (max-width:500px) {
    &__menu {
      width: 100%;
      justify-content:center; 
      align-items: center;
      &_link {
        width: 90%;
        padding: 5px 6px;
      }
    }
    &__form {
      &_input {
        width: 100%;
      }
    }
    &__catalog {
      justify-content: center;
      &_item {
        width: 95%;
      }
    }
  }
}